html {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    color: ivory;
}

.open {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    opacity: 0.8;
    margin-top: 16%;
    border: 2px solid;
    border-color: rgb(160, 86, 3);
    background-color: rgb(248, 135, 6);
    height: 10%;
    border-radius: 3px;
    color: ivory;
    font-size: 35px;
}

.ql {
    color: ivory;
}

.open:hover {
    box-shadow: 1px 1px 10px rgb(248, 135, 6);
    outline-width: 0;
    border-color: ivory;
}

.fxvl {
    color: ivory;
}

#fxv,
#author,
#descr,
#game {
    outline-width: 0;
}

#descr {
    width: 50%;
}

.next {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 8px;
    opacity: 0.8;
    border: 2px solid;
    border-color: rgb(248, 135, 6);
    background-color: rgb(160, 86, 3);
    height: 10%;
    border-radius: 3px;
    color: ivory;
    font-size: 25px;
}

.next:hover {
    box-shadow: 1px 1px 10px rgb(248, 135, 6);
    outline-width: 0;
    border-color: ivory;
}

.results,
th,
td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

.results tr:nth-child(even) {
    background-color: #eee;
}

.results tr:nth-child(odd) {
    background-color: #fff;
}

.results th {
    color: white;
    background-color: lightcoral;
}

.sett {
    float: right;
    top: 0;
}

.sett .float {
    display: none;
}

.sett .orig {
    display: inline-block;
}

.sett:hover .float {
    display: inline-block;
}

.sett:hover .orig {
    display: none;
}

.bold {
    font-weight: bold;
    color: rgb(255, 115, 0);
}

.meta input,
select {
    border: 1px solid rgb(255, 115, 0);
    border-radius: 3px;
}

.meta label {
    color: rgb(255, 115, 0);
}

.emoji {
    color: rgb(255, 115, 0);
}

#quickmode input+label {
    cursor: pointer;
    border: 1px solid rgb(255, 115, 0);
    background-color: rgb(248, 135, 6);
}

.footer {
    position: fixed;
    bottom: 0;
    opacity: 50%;
    font-size: 10px;
}

.la:hover {
    text-decoration: underline;
    cursor: pointer;
}